[mysqld]
character-set-server=utf8
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
general_log = On
general_log_file = /var/log/mysqld.log

[client]
default-character-set=utf8
